body {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 20px;
  }

.c1_div, .c2_div {
    margin-top: 16px;
    margin-bottom: 16px;
}

.c1_title, .c2_title {
    font-size: 30px;
}

.c1_x_axis_label, .c1_y_axis_label, .c2_x_axis_label, .c2_y_axis_label {
    font-size: 22px;
}
